@use "../abstracts/variables" as v;

.l-container {
  --container-gutter: var(--space-sm);

  width: min(100% - 2 * var(--container-gutter), var(--size-container));
  margin-inline: auto;

  @media (min-width: v.$breakpoint-tablet) {
    --container-gutter: var(--space-lg);
  }
}
